:root{
    --blue: cadetblue;
    --offwhite: beige;
}
body{
    background-color: var(--offwhite);
}
.main {
    position: relative;
    margin: 0 auto;
    width: 60%;
    height: 80%;
    margin-top: 10vh;

    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    background-color: var(--offwhite);
    /* border: solid var(--blue) 2px; */
    border-radius: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
}
.content{
    margin: 0 auto;
    width: 50%;
    background-color: var(--blue);
    padding: 10px;
    border-radius: 20px;
}
.title{
    color: var(--blue);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
a{
    color: var(--blue);
    text-decoration: none;
}
.todo_li{
    background-color: var(--offwhite);
    padding: 5px;
    border-radius: 10px;

}
.linkareas {
    background-color: var(--blue);
    width: 80%;
    margin: 0 auto;
    border-radius: 16px;
    padding-bottom: 8px;
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.linkbit {
    background-color: var(--offwhite);
    font-size: 16px;
    width: 90%;
    height: 70px;
    margin: 0 auto;
    border-radius: 9px;
    padding-bottom: 2px;
    padding-top: 2px;
    transition: all 0.5s ease;
}
.linkbit:hover{
    box-shadow: 10px 10px 10px 1px  rgba(0, 0, 0, 0.397);
    /* background-color: red; */
    width: 94.5%;
    height: 73.5px;
    font-size: 16.8;
}
.back {
    position: fixed;
    top: 0;
    right: 0;
    padding-right: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
}
.back :hover{
    font-size: 30px;
    transition: all 0.2s;
}

.color_display {
    margin: 0 auto;
    width: 40%;
    height: 50px;
    background-color: azure;
    border: dotted black 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.list {
    display: flex;
    flex-direction: column-reverse;
    gap: 4px;
}

.color_editor {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 15px;

    background-color: var(--blue);
    width: 80%;
    margin:  0 auto;
    border-radius: 20px;
}

.listcolor {
    background-color: rgb(255, 255, 255);
    border: solid 2px;
    width: 50%;
    margin: 0 auto;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

.listcolor:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.paintdeck{
    display: flex;
}
.paintcolors{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 90%;
    margin: 0 auto;
}
.paintcolors button{
    width: 200px;
    height: 30px;
}